<form action="/number_list">
  <div class="form-group">
    <label for="userNumber">Enter a number greater than or equal to 1</label>
    <input id="userNumber" name="userNumber" class="form-control" type="number">
  </div>
  <button class="btn btn-default" type="submit">Ping-Pong!</button>
</form>
